<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Contact-Manager</title>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/application.css" rel="stylesheet">
    <link href="./css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    
    <div id="header-region"></div>

    <div id="main-region" class="container"></div>

    <div id="dialog-region"></div>

    <script type="text/template" id="header-template">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#contacts">Contact manager</a>
          <div class="nav-collapse collapse">
            <ul class="nav"></ul>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="header-link">
      <a href="#<%- url %>"><%- name %></a>
    </script>

    <script type="text/template" id="contact-list" id="contact-form" >
       <tbody>
      </tbody>
    </script>

    <script type="text/template" id="contact-list-none">
      <td colspan="3">No contacts to display.</td>
    </script>

    <script type="text/template" id="contact-list-item">
	 <p></p>
     <p>Name: <%- firstName %></p>
	 <p>Last name: <%- lastName %></p>
	 <p>Date: <%- birthDate %>  </p>
	 <p>Phone number: </p>
	
     <div id="tbl" ><%- phoneNumber %> </div> 
		  	  
      <p></p>
        <a href="#contacts/<%- id %>" class="btn btn-small js-show">
          Show
        </a>
        <a href="#contacts/<%- id %>/edit" class="btn btn-small js-edit">
          Edit
        </a>
        <button class="btn btn-small js-delete">
          Delete
        </button>
      
    </script>

    <script type="text/template" id="missing-contact-view">
      <div class="alert alert-error">This contact does not exist !</div>
    </script>

    <script type="text/template" id="contact-view">
		
	<table border="1" style="width:100%">
     <tr>
    <td>Name</td>
    <td>Last name</td>
    <td>Date</td>
	<td>Phone</td>
    </tr>
    <tr>
	<td><%- firstName %></td>
    <td><%- lastName %></td>
    <td><%- birthDate %></td>
	<td><textarea rows="1" style="width: 100px; height: 15px;" ><%- phoneNumber %></textarea>
	</td>
	</tr>
    </table>
        
	  </script>




    <script type="text/template" id="loading-view">
	  <h1><%- title %></h1>
      <p><%- message %></p>
      <div id="spinner"></div>
	</script>


    <script type="text/template" id="contact-form">
	
      <form>
	  
        <div class="control-group">
          <label for="contact-firstName" class="control-label">First name:</label>
          <input id="contact-firstName" name="firstName" type="text" value="<%- firstName %>"/>
        </div>
        <div class="control-group">
          <label for="contact-lastName" class="control-label">Last name:</label>
          <input id="contact-lastName" name="lastName" type="text" value="<%- lastName %>"/>
        </div>
        <div class="control-group">
          <label for="contact-birthDate" class="control-label">Date:</label>
          <input id="contact-birthDate" name="birthDate" type="text" value="<%- birthDate %>"/>
        </div>
		
		<div class="control-group">
          <label for="contact-phoneNumber" class="control-label">Phone number:</label>
		  
          <textarea rows="5" style="overflow:auto"  onkeyup="AutoGrowTextArea(this)" id="textarea1" style="overflow:hidden"   id="contact-phoneNumber" name="phoneNumber" type="text"><%- phoneNumber %></textarea>
        </div>
		
		</div>
        <button class="btn js-submit">Save</button>
						
      </form>
	  
	  
    </script>

    <script type="text/template" id="contact-list-layout">
	  <div id="panel-region"></div>
      <div id="contacts-region"></div>
    </script>

    <script type="text/template" id="contact-list-panel">
	  <button class="btn btn-primary js-new">New contact</button>
      <form id="filter-form" class="form-search form-inline pull-right">
        <div class="input-append">
          <input type="text" class="span2 search-query js-filter-criterion">
          <button type="submit" class="btn">Search</button>
        </div>
      </form>
    </script>

    

    <script src="./js/jquery/jquery.js"></script>
    <script src="./js/jquery/jquery-ui-1.10.3.js"></script>
    <script src="./js/jquery/json2.js"></script>
    <script src="./js/jquery/underscore.js"></script>
    <script src="./js/jquery/backbone.js"></script>
    <script src="./js/jquery/backbone.picky.js"></script>
    <script src="./js/jquery/backbone.syphon.js"></script>
    <script src="./js/jquery/backbone.localstorage.js"></script>
    <script src="./js/jquery/backbone.marionette.js"></script>
    <script src="./js/jquery/spin.js"></script>
    <script src="./js/jquery/spin.jquery.js"></script>

    <script src="./js/app/dialog.js"></script>
    <script src="./js/manager.js"></script>
    <script src="./js/AutoGrow.js"></script>
    <script src="./js/app/storage.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/contact.js"></script>
    <script src="./js/views.js"></script>

    <script src="./js/app/contacts/contacts_app.js"></script>
    <script src="./js/app/contacts/views.js"></script>
    <script src="./js/app/contacts/list_view.js"></script>
    <script src="./js/app/contacts/list_controller.js"></script>
    <script src="./js/app/contacts/show_view.js"></script>
    <script src="./js/app/contacts/show_controller.js"></script>
    <script src="./js/app/contacts/edit_view.js"></script>
    <script src="./js/app/contacts/edit_controller.js"></script>
    <script src="./js/app/contacts/new_view.js"></script>

    
    <script src="./js/app/header_app.js"></script>
    <script src="./js/app/list_show.js"></script>
    <script src="./js/app/list_controller.js"></script>

    <script type="text/javascript">
	   ContactManager.start();
    </script>
	
	
  </body>
</html>
